<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer class="site-footer" th:fragment="footer">

    <div class="footer-content">
        <div class="footer-logo">
        </div>
        <div class="company-info">
            <p>
                <strong>(주)그린소프트</strong> | 대표자 : 송민재 | 주소 :충청북도 청주시 서원구 사직대로 109 4층
            </p>
            <p>
                사업자번호 : 123-45-67890 | E-Mail : green123@green.com | TEL : 043-123-4567
            </p>
            <p class="copyright">
                Copyright(C) (주)그린소프트.
            </p>
        </div>
    </div>

</footer>

</body>
</html>